<div class ="row border">
    <div class="col" style="height: 750px">
        <div class="border mx-auto mt-5" style="height:450px">
            Login Page
        </div>
    </div>
</div>


<div>
    <h2 class="text-center mt-5">Login</h2>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" v-model="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="password" required>
    </div>
    <div>
        <button class="btn btn-dark" @click="login">Login</button>
    </div>

</div>

<div v-for="sub in subjects" class="card" style="width: 18rem;">
    <img :src="sub.image" class="card-img-top" alt="Subject Thumbnail">
    <div class="card-body">
        <h5 class="card-title">{{sub.name}}</h5>
        <p class="card-text">{{sub.description}}</p>
        <a href="#" class="btn btn-primary">See chapters</a>
    </div>
</div>

<!-- add new subject -->
<div>
    <div class="mb-3">
      <label for="subjectname" class="form-label">Subject Name</label>
      <input type="text" class="form-control" id="subjectname" placeholder="Enter subject name" v-model="subjectsData.name">
    </div>
    <div class="mb-3">
      <label for="subjectdescription" class="form-label">Subject Description</label>
      <textarea class="form-control" id="subjectdescription" rows="3" v-model="subjectsData.description"></textarea>
    </div>
    <div class="mb-3">
      <label for="subjectimage" class="form-label">Subject Image</label>
      <input type="file" class="form-control" id="subjectimage" accept="image/*" v-model="subjectsData.image">
    </div>
    <div class="mb-3 text-end">
        <button class="btn btn-primary" @click="addSubject">Add Subject</button>
    </div>
</div>

<!-- show quizzes -->

<table class="table">
    <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">No. of Questions</th>
                <th scope="col">Quiz Name</th>
                <th scope="col">Quiz Description</th>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Marks</th>
                <th scope="col">Chapter</th>
                <th scope="col">Single Attempt </th>
                <th scope="col">Actions</th>
            </tr>
    </thead>
    <tbody>
        <tr v-for="(quiz, index) in quizzes" :key="quiz.id">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ quiz.questions.count }}</td>
            <td>{{ quiz.name }}</td>    
            <td>{{ quiz.description }}</td>
            <td>{{ quiz.date_of_quiz }}</td>
            <td>{{ quiz.time_duration }}</td>
            <td>{{ quiz.marks }}</td>
            <td>{{ quiz.chapter }}</td>
            <td>{{ if quiz.single_attempt }}
                        Yes
                {{ else }}
                        No
                {{ endif }}
            </td>
            <td>
                <button class="btn btn-info" @click="viewQuiz(quiz.id)">View</button>
                <button class="btn btn-success" @click="playQuiz(quiz.id)">Start</button>
            </td>
        </tr>
    </tbody>
</table>